* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  animation: zoom-in-zoom-out 1s ease infinite;
  width: 60px;
  height: 60px;
  display: block;
  margin: 10% auto;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1.25, 1.25);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  75% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}
